- callout_id = 'promote_burndown_charts_dismissed'

- if show_burndown_charts_promotion?(milestone) && show_callout?(callout_id)
  .user-callout.promotion-callout#promote_burndown_charts{ data: { uid: callout_id } }
    .bordered-box.content-block.promotion-burndown-charts-content
      %button.btn.btn-default.close.js-close-callout{ type: 'button', 'aria-label' => s_('Promotions|Dismiss burndown charts promotion') }
        = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
      .svg-container
        = custom_icon('icon_burndown_charts')
      .user-callout-copy
        %h4
          - if Gitlab::CurrentSettings.should_check_namespace_plan?
            = s_('Promotions|Upgrade your plan to improve milestones with Burndown Charts.')
          - else
            = s_('Promotions|Improve milestones with Burndown Charts.')
        %p
          = s_('Promotions|Burndown Charts are visual representations of the progress of completing a milestone. At a glance, you see the current state for the completion a given milestone. Without them, you would have to organize the data from the milestone and plot it yourself to have the same sense of progress.')
          = link_to _('Read more'), help_page_path('user/project/milestones/burndown_charts.md'), target: '_blank'

        = render 'shared/promotions/promotion_link_project'
